@media (max-width: 1024px) {
  .header,
  .hero {
    padding: 20px 40px;
    flex-direction: column;
    text-align: center;
  }

  .nav {
    justify-content: center;
    margin-top: 20px;
  }

  .hero {
    padding: 60px 40px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .nav a {
    font-size: 16px;
    margin-right: 20px;
  }

  .nav a:last-child {
    font-size: 16px;
    padding: 8px 18px;
  }

  .hero {
    padding: 40px 20px;
  }
}
